.title
{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(254, 210, 218);
    text-align: center;
    
}

.textarea
{
    background: linear-gradient(to top, rgb(255, 241, 244), rgb(255, 206, 214));
    border-color: rgb(254, 173, 187);
    width: 80%;
    padding: 0 1rem;
    border-radius: 5%;
}

.textarea:focus
{
    border-color: rgb(255, 138, 157); /* A more noticeable pink */
    outline: none; /* Optional: removes default blue outline */
}

.submitBtn
{
    background-color:rgb(255, 219, 225);
    color: white;
    border: rgb(236, 236, 236);
    border-radius: 15%;
}

.submitBtn:hover
{
    background: rgb(255, 168, 182);
    transition: all 0.3s ease;
}

.clearBtn
{
    background-color:rgb(255, 219, 225);
    color: white;
    border: rgb(236, 236, 236);
    border-radius: 15%;

}

.clearBtn:hover
{
     background: rgb(255, 168, 182);
    transition: all 0.3s ease;
}

h2
{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 207, 241);
    background-color: white;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style:dotted
}

.taskRow{
    display: flex;
    align-items: center;   /* vertically center items */
    gap: 10px;              /* space between button and text */
}

.taskBtn
{
    color:rgb(255, 208, 241);
    background: transparent;
    border:white;
}

.taskBtn:hover
{
    background:rgb(255, 152, 169);
}

.taskRow.completed
{
    text-decoration: line-through;
    opacity:0.6;
    
}

.task
{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(144, 143, 143);
}

